.App {
  text-align: center;
}

.header{
    background-color: #e79315;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title{
  color: white;
}

.input{
  margin: 10px;
}



