.App {
  text-align: center;
}

.header{
    background-color: #ffa928;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title{
  color: white;
  margin-right:1150px;
  margin-top: 50px;
  margin-bottom: 30px;
  animation-name: shape;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  /* animation-iteration: ease-out; */
  /* transition-timing-function: ease-out-in; */ 
      
  
}

@keyframes shape {
  0% {
    background: none;
    /* left: 0px;
    top: 50px; */
    /* margin-bottom: -50px; */
    letter-spacing: 6px;
    opacity: 0.5;
  }
  
}



.input{
  margin: 100px;
  /* margin-left: 1100px; */
  
}

.footer{
  color: white;
  margin-top: 100px;
  background-color: #ffa928;
}

.box{
  width: 250px;
  border: 2px solid rgb(175, 162, 162);
  border-radius: 15px;
}

.search{
  color: #ffa928;
  border: none;
  /* border-radius: 15px; */
}

.button{
  margin-bottom: 20px;
  border-radius: 15px;
}


.image{
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

.recipe_title{
  color: #ffa928;
  font-size: 20px;
}

.new_page{
  background-color: #ffa928;
}

.toimage{
  width: 400px;
  height: 400px;
  margin-top: 30px;
  border-radius: 30px;
  
}

.items{
  margin-left: 500px;
  margin-top: 90px;
  
}

.home_button{
  border-radius: 15px;
}


.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 400px 400px 400px 400px; 
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  justify-content: center;

}




