.App {
  text-align: center;
}

.header{
    background-color: #e79315;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title{
  color: white;
  margin-right:1150px;
  margin-top: 50px;
  animation-name: shape;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  /* animation-iteration: ease-out; */
  /* transition-timing-function: ease-out-in; */
}

@keyframes shape {
  0% {
    background: none;
    /* left: 0px;
    top: 50px; */
    /* margin-bottom: -50px; */
    letter-spacing: 6px;
    opacity: 0.5;
  }
  
}


.input{
  margin: 10px;
  margin-left: 1100px;
}

.footer{
  margin-top: 600px;
}

.box{
  width: 250px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  /* flex: 10%; */
  padding: 0px;
}





